<p-timeline [value]="data">
    <ng-template pTemplate="content" let-data>
        <div class="mainContent">
            <ng-container *ngFor="let childData of data.children">
                <span style="font-size: small; font-weight: 700;">{{childData.LASTCMT}}</span>
                <span style="font-size: small; font-weight: 600;">On {{childData.date}}</span>
                <span style="font-size: smaller;">Modified by {{childData.LASTUPDBY}}</span>
                <span>
                    <hr>
                </span>
            </ng-container>
        </div>
    </ng-template>
    <ng-template pTemplate="marker" let-data>
        <span class="custom-marker p-shadow-2 seperatorCustom">
            <i></i>
        </span>
    </ng-template>
    <ng-template pTemplate="opposite" let-data>
        <div class="mainContent">
            <span style="font-size: large; font-weight: 100;">
                {{data.status}}</span>
            <!-- <span></span>-->
            <span>
                <hr>
            </span>
        </div>
    </ng-template>
</p-timeline>